<div class="page-header">
  <h1>Tracking details</h1>
</div>

<p><a href="/tracking_details/new" class="btn btn-primary">Add a New Tracking Detail</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Shipment</th>
      <th>Activity datetime</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Activity note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracking_details.each do |tracking_detail| %>
      <tr>
        <td><%= tracking_detail.shipment_id %></td>
        <td><%= tracking_detail.activity_datetime %></td>
        <td><%= tracking_detail.city %></td>
        <td><%= tracking_detail.state %></td>
        <td><%= tracking_detail.zip %></td>
        <td><%= tracking_detail.activity_note %></td>
        <td>
          <a href="/tracking_details/<%= tracking_detail.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/tracking_details/<%= tracking_detail.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_tracking_detail/<%= tracking_detail.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

