<div class="page-header">
  <h1>Tracking Detail #<%= @tracking_detail.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Shipment</dt>
  <dd><%= @tracking_detail.shipment_id %></dd>

  <dt>Activity datetime</dt>
  <dd><%= @tracking_detail.activity_datetime %></dd>

  <dt>City</dt>
  <dd><%= @tracking_detail.city %></dd>

  <dt>State</dt>
  <dd><%= @tracking_detail.state %></dd>

  <dt>Zip</dt>
  <dd><%= @tracking_detail.zip %></dd>

  <dt>Activity note</dt>
  <dd><%= @tracking_detail.activity_note %></dd>

</dl>
