<div class="page-header">
  <h1>Delivery types</h1>
</div>

<p><a href="/delivery_types/new" class="btn btn-primary">Add a New Delivery Type</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Courier</th>
      <th>Delivery type</th>
      <th>Tracking number format</th>
      <th>Tracking number checksum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_types.each do |delivery_type| %>
      <tr>
        <td><%= delivery_type.courier_id %></td>
        <td><%= delivery_type.delivery_type %></td>
        <td><%= delivery_type.tracking_number_format %></td>
        <td><%= delivery_type.tracking_number_checksum %></td>
        <td>
          <a href="/delivery_types/<%= delivery_type.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/delivery_types/<%= delivery_type.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_delivery_type/<%= delivery_type.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

