<div class="page-header">
  <h1>Add Shipment</h1>
</div>

<% if @shipment.errors.any? %>
  <% @shipment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_shipment" class="form-horizontal">
  <!-- Label and input for sender_name -->
  <div class="form-group">
    <label for="sender_name" class="col-sm-2 control-label">
      Sender name
    </label>
    <div class="col-sm-10">
      <input type="text" id="sender_name" name="sender_name" placeholder="Sender name" class="form-control" value="<%= @shipment.sender_name %>">
    </div>
  </div>

  <!-- Label and input for send_date -->
  <div class="form-group">
    <label for="send_date" class="col-sm-2 control-label">
      Date Sent (YYYY-MM-DD)
    </label>
    <div class="col-sm-10">
      <input type="text" id="send_date" name="send_date" placeholder="YYYY-MM-DD" class="form-control" value="<%= @shipment.send_date %>">
    </div>
  </div>

  <!-- Label and input for notes -->
  <div class="form-group">
    <label for="notes" class="col-sm-2 control-label">
      Notes
    </label>
    <div class="col-sm-10">
      <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @shipment.notes %></textarea>
    </div>
  </div>

  <!-- Label and input for courier_id -->
  <div class="form-group">
    <label for="courier_id" class="col-sm-2 control-label">
      Courier
    </label>
    <div class="col-sm-10">
      <select name="courier_id" class="form-control">
        <% Courier.all.each do |courier| %>
          <option value="<%= courier.id %>">
            <%= courier.name %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <!-- Label and input for tracking_number -->
  <div class="form-group">
    <label for="tracking_number" class="col-sm-2 control-label">
      Tracking number
    </label>
    <div class="col-sm-10">
      <input type="text" id="tracking_number" name="tracking_number" placeholder="Tracking number" class="form-control" value="<%= @shipment.tracking_number %>">
    </div>
  </div>

  <!-- Label and input for delivery_type_id -->
  <div class="form-group">
    <label for="delivery_type_id" class="col-sm-2 control-label">
      Delivery type
    </label>
    <div class="col-sm-10">
      <select name="delivery_type_id" class="form-control">
        <% dt =  DeliveryType.find_by(:courier_id => 1) %> <!-- Temporary hack -->
          <option value="<%= dt.id %>">
            <%= dt.delivery_type %>
          </option>
      </select>
    </div>
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <div class="col-sm-10">
      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
    </div>
  </div>

  <!-- Label and input for tracking_number_status_id -->
  <div class="form-group">
    <label for="tracking_number_status_id" class="col-sm-2 control-label">
      Tracking number status
    </label>
    <div class="col-sm-10">
      <select name="tracking_number_status_id" class="form-control">
        <% track_num_status =  TrackingNumberStatus.find(1) %> <!-- Temporary hack -->
          <option value="<%= track_num_status.id %>">
            <%= track_num_status.status %>
          </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Shipment" class="btn btn-primary">
    </div>
  </div>
</form>
